<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Erva.AppCompat"
        android:pageSizeCompat="disabled"
        tools:targetApi="31">

        <!-- Main Activity (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Erva.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.Erva.AppCompat" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Register"
            android:theme="@style/Theme.Erva.AppCompat" />

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="Home"
            android:theme="@style/Theme.Erva.AppCompat" />

        <!-- Analysis Result Activity -->
        <activity
            android:name=".AnalysisResultActivity"
            android:exported="false"
            android:label="Analysis Result"
            android:theme="@style/Theme.Erva.AppCompat" />

        <!-- Chatbot Activity -->
        <activity
            android:name=".ChatbotActivity"
            android:exported="false"
            android:label="Chatbot"
            android:theme="@style/Theme.Erva.AppCompat" />

        <!-- Camera Activity -->
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:label="Camera"
            android:theme="@style/Theme.Erva.AppCompat" />

    </application>

</manifest>
